[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/lib/modulekit"]
	path = contracts/lib/modulekit
	url = https://github.com/rhinestonewtf/modulekit
